.aw-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e2e2da;
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
}

/* LEFT */
.aw-left {
  display: flex;
  align-items: center;
  gap: 54px;
}

.aw-logo {
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.aw-nav a {
  margin-right: 28px;
  font-size: 16px;
  color: #111;
  text-decoration: none;
}

.new {
  font-size: 10px;
  background: #111;
  color: #fff;
  padding: 2px 4px;
  margin-left: 4px;
}

/* CENTER */
.aw-search input {
  width: 480px;
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  background: #dddacf;
  font-size: 14px;
  outline: none;
}

/* RIGHT */
.aw-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.aw-right a {
  font-size: 16px;
  color: #111;
  text-decoration: none;
}

.aw-right .pro {
  background: #111;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.aw-right .submit {
  background: transparent;
  border: 1px solid #111;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}
